.main-news
    display: grid        
    grid-gap: 40px
    grid-template-columns: 2fr 1fr

.grid-large
    display: grid
    grid-gap: 40px
    grid-template-rows: 1fr 1fr
.grid-small
    display: grid
    grid-gap: 40px
    grid-template-rows: 1fr 1fr 1fr
.cards-large    
    position: relative
.cardl-img
    width: 100%
    height: 100%
    position: absolute
    z-index: -1
.category-card
    color: #ffffff 
.l-article-title
    color: #ffffff
.desription-large-card
    height: 100%
    padding: 40px
    display: flex
    flex-direction: column
    justify-content: space-between
    .subtitle
        margin-bottom: 5px
.small-title
    margin-top: 20px
.by
    text-decoration: underline
    margin-left: 5px
    font-weight: normal