@media screen and (max-width: 1050px)
    .top-hero
        flex-direction: column
        height: auto
    .hero
        width: 100% !important
    .main
        min-height: 400px
    .flexible
        display: flex        
        justify-content: space-between
        .news-block
            width: 47%
    .news
        padding: 80px
@media screen and (max-width: 768px)
    .main
        padding: 40px 20px;
    .cards-trend
        grid-template-columns: 1fr 1fr
        .card:last-child
            display: none
    .trending
        padding: 0 80px
    .happening
        padding: 0 80px
    .main-news
        grid-template-columns: 1fr
    .grid-large
        height: 900px 
    .grid-small
        grid-template-columns: 1fr 1fr 
        grid-template-rows: 1fr
    .cards-small-3
        display: none
    .cards-small-1,.cards-small-2          
        .cards-img
            width: 100%
    .text-hero
        width: 80%
    .footer 
        padding: 56px 80px
        .left-fot
            width: 50%            
        .right-fot
            width: 40%
            display: block

@media screen and (max-width: 612px)
    .footer
        padding: 20px 50px
        flex-direction: column
        .left-fot,.right-fot
            width: 100%
        .right-fot
            display: flex
    

@media screen and (max-width: 444px)
    footer
        margin-top: 50px
    .footer
        display: none
    .nav-bar
        display: none
    .logo
        display: none
    .logo-mob
        font-weight: bold
        font-size: 13px
        color: $gray
    .avatar-mob
        background-color: #000000
        border-radius: 50%
        width: 20px
        height: 20px
    .nav
        padding: 0 15px
    .amazing-mob
        margin-bottom: 40px
        margin-top: 40px
    .amazing
        display: none
    .main
        height: 500px
        .subtitle
            margin-bottom: 15px
        .text-hero
            width: 100%
            padding: 24px
        .hero-img                    
            filter: brightness(80%)
    .news
        padding: 24px
        padding-top: 40px
        .flexible
            display: block
            .news-block
                width: 95%
    .trending
        padding: 0 24px
        .cards-trend
            grid-template-columns: 1fr
            grid-template-rows: 1fr 1fr
            width: 100%
            .desription-card
                padding: 24px
    .happening
        padding: 0 24px
        .main-news
            width: 100%
            .grid-small
                grid-template-columns: 1fr
                grid-template-rows: 1fr 1fr    
    .desription-large-card
        padding: 24px
    .grid-large
        height: 600px

@media screen and (max-width: 375px)
    .footer
        display: none
    .nav-bar
        display: none
    .logo
        display: none
    .logo-mob
        font-weight: bold
        font-size: 13px
        color: $gray        
    .avatar-mob        
        background-color: #000000
        border-radius: 50%
        width: 18px
        height: 18px
    .nav
        padding: 0 15px
    .amazing-mob
        margin-bottom: 40px
        margin-top: 40px
    .amazing
        display: none
    .btn
        padding: 14px 37px
    .main
        .subtitle
            margin-bottom: 35px
        .text-hero
            width: 100%
            padding: 0
        .hero-img                    
            filter: brightness(80%)
    .news
        padding: 24px
        padding-top: 40px
        .flexible
            display: block
            .news-block
                width: 95%
    .trending
        padding: 0 24px
        .cards-trend
            grid-template-columns: 1fr
            grid-template-rows: 1fr 1fr
            width: 100%
            .desription-card
                padding: 24px
    .happening
        padding: 0 24px
        .main-news
            width: 100%
            .grid-small
                grid-template-columns: 1fr
                grid-template-rows: 1fr 1fr    
    .desription-large-card
        padding: 24px
    .grid-large
        height: 600px
@media screen and (min-width: 444px)
    .menu,.logo-mob,.avatar-mob
        display: none

@media screen and (max-width: 340px)
    footer
        margin-top: 10px
    .footer
        padding: 20px 50px
        flex-direction: column
        .left-fot,.right-fot
            width: 100%
        .right-fot
            display: flex