// User variables:
$accent: #FA6980 
$black: #202124
$gray: #A6ADB4
$semigray: #EBEDED
$dirtwhite: #F6F8F9
$info: #72ACFF
$success: #52E5BA
$worning: #FFC96C
$error: #FF4D4D

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
