.world-news__headling
    .breadcrumbs
        display: flex
        margin-bottom: 40px
        .breadcrumb
            list-style: none
            overflow: hidden   
            display: flex
            padding-left: 0
            li::before
                content: '/'
                margin: 0 20px
                color: $black
                font-size: 14px
            li:first-child::before
                content: ''
            a    
                color: $black 
                text-transform: uppercase
                font-size: 14px                 
                &:hover
                    color: $gray 
            .active       
                    color: $gray 
.world-news__main
    display: flex
    .leftcolm
        height: 500px  
        width: 50%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center 
        h1,p
            color: #fff 
        h1
            position: relative
        h1::after
            content: ''
            width: 40px
            position: absolute
            left: 41%
            bottom: 0
            border: 1px solid $accent
            border-radius: 4px
        p
            max-width: 360px
            text-align: center
            font-weight: bold
        .bg-world-news        
            position: absolute
            z-index: -1
            object-fit: cover    
    .rightcolm
        background-color: #fff
        width: 50%
        padding: 127px 110px
.search
    display: flex
    flex-direction: column
    p
        font-size: 14px
        font-weight: bold
        font-family: Acumin
        color: $black
        padding: 0
        margin: 0
        margin-bottom: 2px
    .search__select
        margin-bottom: 40px
        max-height: 40px
        padding: 8px 15px 
        font-weight: 400
        font-size: 13px
        color: $gray
        border: 2px solid $semigray
        border-radius: 6px
        outline: none
        background-image: url(/img/_src/dropdown.jpg)
        background-repeat: no-repeat
        background-position: right .8em top 50%, 0 0
        appearance: none
        option
            color: $gray
            padding: 6px 28px 6px 0;
    .search__input
        margin-bottom: 40px
        padding: 0 15px
        min-height: 40px
        font-weight: 400
        font-size: 13px
        color: $gray
        border: 2px solid $semigray
        border-radius: 6px
    .search_lbl-select
    .search__btn
        max-width: 140px
        background-color: $accent
        color: #fff
        border: none
        font-size: 12px
        font-weight: bold
        font-family: Arial, Helvetica, sans-serif
        padding: 8px 1px
        border-radius: 6px
.last-news
    border-top: 2px solid $semigray
    border-bottom: 2px solid $semigray
    padding: 40px 0
    display: flex
    max-height: 252px
    justify-content: space-between
    .last-news__col
        max-width: 360px
        padding: 
        font-size: 14px
        h2
            margin-top: 10px